
.second_title {
    background-color: #ddccff;
    padding: 0.3rem;
    border-bottom: solid black;
    border-top: solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .unit {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .unit div {
    display: flex;
    gap: 2rem;
  }
  
  .info_second {
    margin-top: 2rem;
    display: flex;
    justify-content: start;
  }
  
  .subjects {
    margin-left: 10rem;
    display: flex;
    gap: 10rem;
  }
  
  .units {
    margin-left: 4rem;
    display: flex;
    gap: 2rem;
  }
  
  .credits {
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  
  .section {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  
  .schedule {
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2.9rem;

  }
  
  .profs {
    margin-left: 7.5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-decoration: underline;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    gap: 4rem;
   padding-right: -5%;
   padding-left: -40%;   
   
  }
  .details1{
    display: flex;
    flex-direction: column;
    gap: 3.8rem;
  }

